body{
    background-color: #1e1e1e;
    color: #d4d4d4;
}
body{
    margin: 0;
}
body{
    font-family: sans-serif;
}
.income-expense-container{
    display: flex;
    gap: 20px;
}
.income-container{
    padding: 20px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    background-color: green;
}
.expense-container{
    padding: 20px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    background-color: red;
}
.container{
    width: 400px;
    margin: auto;
}
input{
    width: 100%;
}